.form_wrapper {
   display: flex;
   justify-content: center;
   padding: 8px;

}

.form {
   width: 400px;

   height: 200px;

   display: flex;
   flex-direction: column;
   gap: 5px;

   padding: 12px;
}

.description_input {
   height: 30px;
   padding: 0px 8px;
   outline: none;
}

.submit_button {
   width: 70%;
   height: 30px;
   align-self: center;
   cursor: pointer;
}
